<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: side-nav(currentMenu='awards')"></div>
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <table width="100%" class="table text-center">
                    <thead>
                    <tr>
                        <th>동서울대학교</th>
                        <th>닉스테크(주)</th>
                        <th>대한적십자사</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/DSC.jpg" alt="DSC 성적 우수 장학증서"></td>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/닉스테크.jpg" alt="닉스테크 Speech 대상"></td>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/대한적십자사.jpg" alt="대한적십자사 헌혈유공장"></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-trophy text-warning"></i> 성적 우수 장학증서 (3회)</td>
                        <td><i class="fas fa-trophy text-warning"></i> 닉스테크 Speech 대상</td>
                        <td><i class="fas fa-trophy text-warning"></i> 적십자 헌혈 유공장 (50회)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>