<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: side-nav(currentMenu='education')"></div>
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <table width="100%" class="table text-center">
                <thead>
                    <tr>
                        <th>KH 정보교육원</th>
                        <th>쌍용교육센터</th>
                        <th>쌍용교육센터</th>
                        <th>한큐에자바</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/KH.jpg" alt=""></td>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/쌍용_Jquery.jpg" alt=""></td>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/쌍용_Spring.jpg" alt=""></td>
                        <td><img width="170" height="250" class="rounded mx-auto d-block" src="/images/scan/한큐에자바.jpg" alt=""></td>
                    </tr>
                    <tr>
                        <td>Java, Oracle, Jsp, Spring</td>
                        <td>Html5 & Jquery</td>
                        <td>Spring 4.0</td>
                        <td>전자정부프레임워크, JavaScript</td>
                    </tr>
                    <tr>
                        <td>2016.12.22 ~ 2017.06.26</td>
                        <td>2018.01.13 ~ 2018.02.10</td>
                        <td>2018.06.16 ~ 2018.07.14</td>
                        <td>2020.01.11 ~ 2020.05.10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
