<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: side-nav(currentMenu='kyungtak')"></div>

    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Kyungtak
                <span class="text-primary">Park</span>
            </h1>
            <div class="mb-5" style="font-size: 23px; font-family:'Saira Extra Condensed';">
                <span class="text-primary">기본</span>에 충실하고 <span class="text-primary">개념</span>있는 <span class="text-primary">소통</span>이 원할한 개발자
            </div>
            <div class="lead mb-5">
                이름: 박경탁</br>
                나이: 만 29세</br>
                성별: 남</br>
                지역: 서울</br>
                병역: 필</br>
                MBTI: ESTJ<br/>
                휴대폰: 010-2693-1124
            </div>
            <div style="margin-bottom: 30px;">
                <input type="text" id="message" class="form-control" title="발자취" placeholder="여기에 발자취를 남겨주세요~" style="width: 350px; float: left;">
                <button id="btnMessage" class="btn btn-primary btn-block" onclick="sendMessage()" style="width: 130px;">발자취 남기기</button>
            </div>
            <div class="social-icons">
                <a class="social-icon" href="#" title="tak24">
                    <i class="xi-kakaotalk xi-2x"></i>
                </a>
                <a class="social-icon" th:href="@{https://www.instagram.com/k___t.p24/}" title="k___t.p24">
                    <i class="xi-instagram xi-2x"></i>
                </a>
                <a class="social-icon" th:href="@{https://github.com/DevKTak}" title="DevKTak">
                    <i class="xi-github xi-2x"></i>
                </a>
                <a class="social-icon" th:href="@{mailto:qkrrudxkr77@naver.com}" title="qkrrudxkr77">
                    <i class="xi-naver-square xi-2x"></i>
                </a>
            </div>
        </div>
    </section>

    <script>
        function sendMessage() {
            let $message = $('#message');

            if (!$message.val()) {
                w2alert('발자취를 입력해주세요.', 'DevKTak');
                return;
            }

            $.ajax({
                type: 'post',
                dataType: 'text', // 응답
                contentType: "application/json; charset=utf-8", // 요청
                data: JSON.stringify({ message: $message.val() }),
                url: '/kafka',
                success: function(result) {
                    if (result === 'success') {
                        w2alert('KAFKA 서버로 내용이 전달 되었습니다!', 'ㄱㅏㅁㅅㅏㅎㅏㅂㄴㅣㄷㅏ');
                        $message.val('');
                    } else {
                        w2alert('처리 중 오류가 발생하였습니다.');
                    }
                }
            })
        }
    </script>
</body>
</html>
