<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style>
    img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }
</style>
<body>
<div th:replace="fragments.html :: side-nav(currentMenu='skills')"></div>
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="d-flex flex-column">
            <div>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain-wordmark.svg" alt="java" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg" alt="spring" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain-wordmark.svg" alt="mysql"/>
                <img src="/images/icon/hibernate.png" alt="hibernate" />
            </div>
            <div>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="javascript" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-plain-wordmark.svg" alt="jquery" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons//centos/centos-original-wordmark.svg" alt="centos"/>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" alt="git"/>
            </div>
        </div>
    </div>
</section>
</body>
</html>
